"*":
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "9e2fbb1c-7c3c-4d02-9786-19b41b2e41e0"
  "git-blame":
    columnWidth: 337
  welcome:
    showOnStartup: false
